* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    min-height: 100vh;

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.5) 50%
    ), url(1.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* NAVBAR */
.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
    position: relative;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #ff7200;
    font-size: 35px;
    font-family: Arial, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

/* MENU */
.menu {
    width: 500px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 45px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #ff7200;
}

/* SEARCH BAR */
.search {
    position: absolute;
    right: 0;
    top: 15px;

    width: 300px;
    height: 40px;

    display: flex;
    z-index: 10;
}

.search input {
    width: 200px;
    height: 100%;

    padding: 0 15px;

    border: 2px solid #ff7200;
    border-right: none;

    outline: none;

    background: transparent;
    color: white;

    font-size: 15px;

    border-radius: 5px 0 0 5px;
}

.search input::placeholder {
    color: #ccc;
}

.search button {
    width: 100px;
    height: 100%;

    border: none;

    background: #ff7200;
    color: white;

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;

    border-radius: 0 5px 5px 0;

    transition: 0.3s;
}

.search button:hover {
    background: #ff7200;
    box-shadow: 0 0 15px #ff7200;
}


/* CONTENT */
.content {
    width: 1200px;
    height: auto;

    margin: auto;

    color: white;
    position: relative;

    padding-top: 60px;
    top: -25px;
}
a{
    color: white;
    
}

.content h1 {
    font-family: "Times New Roman", serif;
    font-size: 55px;

    padding-left: 20px;

    letter-spacing: 2px;
    text-align: left;

    line-height: 1.05;
}

.content span {
    color: #ff7200;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;

    font-family: Arial, sans-serif;

    letter-spacing: 1.2px;
    line-height: 30px;
}


/* JOIN BUTTON */
.content .cn {
    width: 160px;
    height: 40px;

    background: #ff7200;

    border: none;

    margin-bottom: 10px;
    margin-left: 20px;

    font-size: 18px;

    border-radius: 10px;

    cursor: pointer;
}

.content .cn a {
    text-decoration: none;
    color: black;

    font-weight: bold;

    transition: 0.3s ease;
}

.content .cn:hover {
    background-color: white;
}

.content .cn a:hover {
    color: #ff7200;
}


/* LOGIN FORM */
.form {
    position: absolute;

    top: 250px;
    left: 1000px;

    transform: translate(-50%, -50%);

    width: 380px;

    padding: 35px;

    border-radius: 15px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

    background: rgba(0, 0, 0, 0.12);

    backdrop-filter: blur(5px);
}

.form h2 {
    width: 220px;

    font-family: sans-serif;

    text-align: center;

    color: #ff7200;

    font-size: 22px;

    background-color: white;

    border-radius: 10px;

    margin: 2px auto;

    padding: 8px;
}

.form input {
    width: 240px;
    height: 35px;

    background: transparent;

    border: none;
    border-bottom: 1px solid #ff7200;

    outline: none;

    color: white;

    font-size: 15px;

    letter-spacing: 1px;

    margin-top: 30px;

    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

.form input::placeholder {
    color: white;
    font-family: Arial, sans-serif;
}


/* LOGIN BUTTON */
.btnn {
    width: 240px;
    height: 40px;

    background: #ff7200;

    border: none;

    margin-top: 30px;

    font-size: 14px;

    border-radius: 10px;

    cursor: pointer;

    color: white;
}

.btnn:hover {
    background: white;
    color: #ff7200;
}

.btnn a {
    text-decoration: none;
    color: black;

    font-weight: bold;
}


/* SIGN UP */
.form .link {
    font-family: Arial, sans-serif;
    font-size: 15px;

    padding-top: 20px;

    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: #ff7200;
}


/* LOGIN WITH */
.form .liw {
    padding-top: 15px;
    padding-bottom: 10px;

    text-align: center;

    font-family: Arial, sans-serif;
}


/* SOCIAL ICONS */
.social-icons {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 12px;
}

.social-icons a {
    text-decoration: none;

    color: white;

    font-size: 25px;

    transition: 0.3s;
}

.social-icons a:hover {
    transform: scale(1.15);
    color: #ff7200;
}
